table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    text-align: center;
    border: 1px solid #dddddd;
    padding: 8px;
    background: #42adf4;
}

tr:nth-child(even) {
    background-color: #dddddd;
}