<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app> 
     <servlet>
        <servlet-name>Detalle</servlet-name>
        <servlet-class>PerroImgDetails</servlet-class>
     </servlet> 
     <servlet-mapping>
        <servlet-name>Detalle</servlet-name>
        <url-pattern>/Detalle</url-pattern>
     </servlet-mapping>
     <servlet>
        <servlet-name>SubeImg</servlet-name>
        <servlet-class>SubeImagServ</servlet-class>
     </servlet> 
     <servlet-mapping>
        <servlet-name>SubeImg</servlet-name>
        <url-pattern>/subeimg</url-pattern>
     </servlet-mapping>
     <servlet>
        <servlet-name>getimage</servlet-name>
        <servlet-class>ObtenImagen</servlet-class>
     </servlet> 
     <servlet-mapping>
        <servlet-name>getimage</servlet-name>
        <url-pattern>/obtenimagen</url-pattern>
     </servlet-mapping> 
     <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Registro</servlet-class>
     </servlet> 
     <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/servlets/servlet/registro</url-pattern>
     </servlet-mapping>  
     <servlet>
        <servlet-name>Id</servlet-name>
        <servlet-class>Login</servlet-class>
     </servlet> 
     <servlet-mapping>
        <servlet-name>Id</servlet-name>
        <url-pattern>/servlets/servlet/Id</url-pattern>
     </servlet-mapping>
     <servlet>
        <servlet-name>ShowGalleta</servlet-name>
        <servlet-class>ShowCookies</servlet-class>
     </servlet> 
     <servlet-mapping>
        <servlet-name>ShowGalleta</servlet-name>
        <url-pattern>/servlets/servlet/ShowGalle</url-pattern>
     </servlet-mapping>
     <servlet>
        <servlet-name>Cookie</servlet-name>
        <servlet-class>ServletCookie</servlet-class>
     </servlet> 
     <servlet-mapping>
        <servlet-name>Cookie</servlet-name>
        <url-pattern>/servlets/servlet/Galleta</url-pattern>
     </servlet-mapping>
      <servlet>
        <servlet-name>PerroBD</servlet-name>
        <servlet-class>JDBCServletText</servlet-class>
     </servlet>
      <servlet-mapping>
        <servlet-name>PerroBD</servlet-name>
        <url-pattern>/servlets/servlet/Perro</url-pattern>
     </servlet-mapping>
     <servlet>
        <servlet-name>PDF</servlet-name>
        <servlet-class>SendPdf</servlet-class>
     </servlet> 
     <servlet-mapping>
        <servlet-name>PDF</servlet-name>
        <url-pattern>/servlets/servlet/PDF</url-pattern>
     </servlet-mapping>
     <servlet>
        <servlet-name>Triangulo</servlet-name>
        <servlet-class>Triangulo</servlet-class>
     </servlet>
     <servlet-mapping>
        <servlet-name>Triangulo</servlet-name>
        <url-pattern>/servlets/servlet/Triangulo</url-pattern>
     </servlet-mapping>  
     <servlet>
        <servlet-name>TEXTO</servlet-name>
        <servlet-class>EnviaTexto</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>TEXTO</servlet-name>
        <url-pattern>/servlets/servlet/TEXTO</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>HelloWorld</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/servlets/servlet/Hello</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Hola</servlet-name>
        <servlet-class>Hello</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hola</servlet-name>
        <url-pattern>/servlets/servlet/Hola</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Session</servlet-name>
        <servlet-class>SessionTracker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Session</servlet-name>
        <url-pattern>/servlets/servlet/Session</url-pattern>
    </servlet-mapping>
</web-app>
