NET "INI" LOC = "C9" | IOSTANDARD = "LVCMOS33";
NET "CLK" LOC = "V10" | IOSTANDARD = "LVCMOS33";
NET "CLR" LOC = "C4" | IOSTANDARD = "LVCMOS33";

NET "AN<0>" LOC = "N16" | IOSTANDARD = "LVCMOS33";
NET "AN<1>" LOC = "N15" | IOSTANDARD = "LVCMOS33";
NET "AN<2>" LOC = "P18" | IOSTANDARD = "LVCMOS33";
NET "AN<3>" LOC = "P17" | IOSTANDARD = "LVCMOS33";

NET "DISPLAY<6>" LOC = "T17" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<5>" LOC = "T18" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<4>" LOC = "U17" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<3>" LOC = "U18" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<2>" LOC = "M14" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<1>" LOC = "N14" | IOSTANDARD = "LVCMOS33";
NET "DISPLAY<0>" LOC = "L14" | IOSTANDARD = "LVCMOS33";
